<h2 id="title">Ember Tether</h2>
<p>
  Ember Tether is throwing an 80s party, in honor of what was arguably
  tetherball's greatest decade. Scroll, observe the orange things
  relentlessly clinging to the green things, and above all
  enjoy the hypercolor.
</p>

<div class='demo'>
  <button {{action 'switchTether'}}>Switch Tether</button>
  Switch the target for 'A tethered thing'.
  Target is square <span class='highlight'>{{exampleTarget}}</span>
</div>
<div class='demo'>
  <button {{action 'rotateTether'}}>Rotate Tether</button>
  Rotate 'Another tethered thing' around square 3.
  attachment: <span class=highlight>{{exampleAttachment}}</span>
  targetAttachment: <span class=highlight>{{exampleTargetAttachment}}</span>
</div>
<div class='demo'>
  <button {{action 'toggleOffset'}}>Toggle Offset</button>
  Add spacing between 'A tethered thing' and its target square.
  Offset is <span class='highlight'>{{if exampleOffset exampleOffset 'null'}}</span>
</div>
<div class='demo'>
  <button {{action 'toggleConstraints'}}>Toggle Constraints</button>
  Trap 'Another tethered thing' within the box. Scroll to see it pin.
  Constraints are <span class='highlight'>{{exampleConstraintsOn}}</span>
</div>
<div class='demo'>
  <button {{action 'toggleTargetWithin'}}>Toggle Target</button>
  Remove target from DOM. Watch 'A third tethered thing' behave sensibly.
  Target in DOM: <span class='highlight'>{{isShowingTargetWithin}}</span>
</div>


<div class='scroll-box'>
  <div id='tether-target-1' class='tether-target'>
    1
    {{example-component registerComponentTarget='registerComponentTarget'}}
  </div>
  <div id='tether-target-2' class='tether-target'>
    2
    {{#if isShowingTargetWithin}}
      <div class='within'></div>
    {{/if}}
  </div>
  <div id='tether-target-3' class='tether-target'>3</div>
  <div id='tether-target-4' class='tether-target'>4</div>
  <div id='tether-target-5' class='tether-target'>5</div>
  <div id='tether-target-6' class='tether-target'>6</div>
  <div id='tether-target-7' class='tether-target'>7</div>

  {{#ember-tether
      target=exampleTargetSelector
      targetAttachment='top right'
      attachment='top left'
      class='tethered-thing'
      offset=exampleOffset
  }}
    A tethered thing
  {{/ember-tether}}

  {{#ember-tether
      target='#tether-target-3'
      targetAttachment=exampleTargetAttachment
      attachment=exampleAttachment
      class='another-tethered-thing'
      constraints=exampleConstraints
  }}
    Another tethered thing
  {{/ember-tether}}

  {{#ember-tether
      target=exampleTargetWithin
      targetAttachment='top right'
      attachment='top left'
      class='third-tethered-thing'
  }}
    A third tethered thing
    Target in DOM: <span class='highlight'>{{isShowingTargetWithin}}</span>
    <button {{action 'toggleTargetWithin'}}>Toggle Target</button>
  {{/ember-tether}}

  {{#ember-tether
      target=exampleTargetComponent
      targetAttachment='top right'
      attachment='top left'
      class='component-tether'
  }}
    Component
  {{/ember-tether}}

</div>
