{{page-title "Ember Tether"}}

<h2 id="title">Ember Tether</h2>
<p>
  Ember Tether is throwing an 80s party, in honor of what was arguably
  tetherball"s greatest decade. Scroll, observe the orange things
  relentlessly clinging to the green things, and above all
  enjoy the hypercolor.
</p>

<div class="demo">
  <button {{on 'click' this.switchTether}} type="button">Switch Tether</button>
  Switch the target for "A tethered thing".
  Target is square <span class="highlight">{{this.exampleTarget}}</span>
</div>
<div class="demo">
  <button {{on 'click' this.rotateTether}} type="button">Rotate Tether</button>
  Rotate "Another tethered thing" around square 3.
  attachment: <span class="highlight">{{this.exampleAttachment}}</span>
  targetAttachment: <span class="highlight">{{this.exampleTargetAttachment}}</span>
</div>
<div class="demo">
  <button {{on 'click' this.toggleOffset}} type="button">Toggle Offset</button>
  Add spacing between "A tethered thing" and its target square.
  Offset is <span class="highlight">{{if this.exampleOffset this.exampleOffset "null"}}</span>
</div>
<div class="demo">
  <button {{on 'click' this.toggleConstraints}} type="button">Toggle Constraints</button>
  Trap "Another tethered thing" within the box. Scroll to see it pin.
  Constraints are <span class="highlight">{{this.exampleConstraintsOn}}</span>
</div>
<div class="demo">
  <button {{on 'click' this.toggleTargetWithin}} type="button">Toggle Target</button>
  Remove target from DOM. Watch "A third tethered thing" behave sensibly.
  Target in DOM: <span class="highlight">{{this.isShowingTargetWithin}}</span>
</div>


<div class="scroll-box">
  <div id="tether-target-1" class="tether-target">
    1
    <ExampleComponent @registerComponentTarget={{this.registerComponentTarget}} />
  </div>
  <div id="tether-target-2" class="tether-target">
    2
    {{#if this.isShowingTargetWithin}}
      <div class="within"></div>
    {{/if}}
  </div>
  <div id="tether-target-3" class="tether-target">3</div>
  <div id="tether-target-4" class="tether-target">4</div>
  <div id="tether-target-5" class="tether-target">5</div>
  <div id="tether-target-6" class="tether-target">6</div>
  <div id="tether-target-7" class="tether-target">7</div>
  <div id="tether-target-8" class="tether-target">8</div>

  <div id="body-element"></div>

  <EmberTether
    @target={{this.exampleTargetSelector}}
    @targetAttachment="top right"
    @attachment="top left"
    class="tethered-thing"
    @offset={{this.exampleOffset}}
  >
    A tethered thing
  </EmberTether>

  <EmberTether
    @target="#tether-target-3"
    @targetAttachment={{this.exampleTargetAttachment}}
    @attachment={{this.exampleAttachment}}
    class="another-tethered-thing"
    @constraints={{this.exampleConstraints}}
  >
    Another tethered thing
  </EmberTether>

  <EmberTether
    @target={{this.exampleTargetWithin}}
    @targetAttachment="top right"
    @attachment="top left"
    class="third-tethered-thing"
  >
    A third tethered thing
    Target in DOM: <span class="highlight">{{this.isShowingTargetWithin}}</span>
    <button {{on 'click' this.toggleTargetWithin}} type="button">Toggle Target</button>
  </EmberTether>

  <EmberTether
    @target={{this.exampleTargetComponent}}
    @targetAttachment="top right"
    @attachment="top left"
    class="component-tether"
  >
    Component
  </EmberTether>


  <EmberTether
    @target="#tether-target-5"
    @targetAttachment="top right"
    @attachment="top left"
    @offset={{this.exampleOffset}}
    class="accessible-thing"
    aria-atomic="true"
    aria-busy="true"
    aria-controls="element-id"
    aria-current="page"
    aria-describedby="described-element-id"
    aria-details="details-element-id"
    aria-flowto="flowto-elemenet-id"
    aria-hidden="true"
    aria-keyshortcuts="A"
    aria-label="tether-label"
    aria-labelledby="labelledby-element-id"
    aria-live="polite"
    aria-owns="owns-element-id"
    aria-relevant="additions"
    aria-roledescription="tether-role-description"
    role="region"
  >
    A tethered thing with aria attributes
  </EmberTether>

  <EmberTether
    @bodyElement="body-element"
    @target="#tether-target-8"
    @targetAttachment="top right"
    @attachment="top left"
    class="a-tethered-thing-with-body-element"
  >
    Another tethered thing with bodyElement
  </EmberTether>

</div>
